@charset "utf-8"
@import normalize.css.scss
@import responsivity.css.scss
// @import reset.css.sass
// @import _media-queries-debug.css.sass


//////////////////////////////////////////
//////////////////////////////////////////
//////////////////////////////////////////
$grey: #2c2c3c
$midgrey: #8a8aa8
$lightgrey: #d3d3de
$midgrey: #676A6D
$offwhite: #f7f5f0
$darkblue: #273949
$maroon: #660e31
$orange: #ffa724
$orange-darker: #ff980e
$border-radius: 0.125rem
$button-padding: 1rem 1.25rem
//////////////////////////////////////////
//////////////////////////////////////////
//////////////////////////////////////////

html, body
  font-size: 100%
  max-width: 100%
  overflow-x: hidden
body
  background-color: $offwhite
  color: $grey
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, sans-serif
  // , "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
  // "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
  // "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif
  //padding: 18vh 1rem
a
  color: inherit
  text-decoration: underline
  &:focus, &:hover, &:visited
    color: inherit
h1, h2, h3, h4, h5, h6
  margin-top: 0
  margin-bottom: 0.5rem
  line-height: 1.15
  font-weight: 700
  & a
    text-decoration: none
h1
  //48px
  font-size: 3rem
h2
  font-size: 2rem
  //32px
h3
  font-size: 1.5rem
  //24px
  +respond(all-phones)
    font-size: 1.125rem
h4
  font-size: 1.125rem
  //18px
h5
  font-size: 1rem
  //16px
  +respond(all-phones)
    font-size: 0.875rem
h6
  font-size: 0.875rem
  //14px
p
  font-size: 0.875rem
  margin: 0.75rem 0
  font-weight: 400
span
  font-weight: 400
img
  max-width: 100%
  height: auto
  display: block
.btn
  border-radius: $border-radius
  display: inline-block
  padding: $button-padding
  text-decoration: none
  font-weight: 700
  cursor: pointer
//////////////////////////////////////////
//////////////////////////////////////////
//////////////////////////////////////////
header
  text-align: left
  margin: 2rem 0

  // background-image: url(/images/header_ring.svg), linear-gradient( 120deg, rgb(196,76,71) 0%, rgb(196,76,71) 10%, rgb(52,11,65) 80%, rgb(52,11,65) 100%)
  // background-position: calc(50% - 5px) calc(50% - 25px), center
  // background-repeat: no-repeat
  // height: 435px
  // min-width: 1379px
  // overflow: hidden
  // width: 100%

  .logo
    max-width: 25rem
    margin: 0 auto
    padding: 1.5rem
  h6
    padding: 3rem 2rem
.divider
  margin: 0 auto
  //background-color: $maroon
  //background: linear-gradient(to bottom, rgba(128,18,62,1) 0%, rgba(102,14,49,1) 100%)
  background-color: $darkblue
  color: $offwhite
  font-size: 0.85rem
  h6
    text-align: center
    max-width: 70rem
    margin: 0 auto
    line-height: 2
  .subdued
    color: #d4d7db

//////////////////////////////////////////
//////////////////////////////////////////
//////////////////////////////////////////

.book
  max-width: 60rem
  margin: 0 auto
  display: flex
  padding-bottom: 3rem
  margin-bottom: 3rem
  border-bottom: 1px solid $lightgrey
  +respond(all-mobile)
    max-width: 40rem
  +respond(all-phones)
    float: none
    clear: both
    display: block
  &::after
    clear: both
    content: ""
  &:first-of-type
    margin-top: 4rem
  &:last-of-type
    border-bottom: none
  .side
    margin-right: 2rem
    max-width: 11rem
    float: left
    +respond(all-phones)
      float: none
      clear: both
      margin: 0 auto

  .circle.number
    border: 0.1875rem solid $grey
    border-radius: 50%
    width: 2.375rem
    height: 2.375rem
    text-align: center
    display: inline-block
    position: absolute
    margin-left: -4.375rem
    +respond(small-phones)
      margin-left: -3.75rem
    span
      font-size: 1.25rem
      font-weight: 700
      position: relative
      margin-top: 0.4375rem
      display: inline-block
  .book_cover
    max-width: 10.75rem
    border-radius: $border-radius
    margin-bottom: 1.25rem
  .outbound
    @extend .btn
    background-color: $orange
    &:focus, &:hover
      background-color: $orange-darker
      color: $grey
  .disclaimer
    font-size: 0.5rem
    padding-top: 0.75rem
    color: $midgrey
    display: block

  .main
    padding-right: 2rem
    +respond(all-phones)
      margin: 0 auto
      padding: 2rem
  .toppick
    background-color: $orange
    display: inline-block
    font-size: 0.6rem
    font-weight: 700
    vertical-align: middle
    padding: 0.25rem 0.5rem
    margin-right: 0.25rem
    border-radius: $border-radius
    height: 100%
    +respond(all-phones)
      display: table
      margin-bottom: 0.5rem

  .inline
    display: inline
    padding-bottom: 0
    margin-bottom: 0
    & > *
      display: inline
    +respond(all-phones)
      display: inline-block
  .bookauthor
    padding-right: 0.45rem
    font-size: 1.125rem
    font-weight: 600
    +respond(all-phones)
      font-size: 0.975rem
      line-height: 1.5rem
  .rating
    position: relative
    +respond(all-phones)
      display: inline-block
  img.info
    width: 0.875rem
    padding-left: 0.4rem
    display: inline-block
    position: absolute
    margin-top: 0.25rem
    +respond(all-phones)
      margin-top: 0.325rem
  .description
    font-weight: 400
    font-size: 0.8125rem
    p
      line-height: normal
  .readnow
    font-size: 0.8125rem
    font-weight: 600
    padding: 0.3125rem 0
    &::after
      content: url("/images/right-arrow.svg")
      width: 0.9rem
      vertical-align: middle
      display: inline-block
      padding-left: 0.3875rem

//////////////////////////////////////////

.read-more-state
  display: none
+respond(desktop)
  .read-more-trigger
    display: none
+respond(all-phones)
  .read-more-target
    opacity: 0
    max-height: 0
    font-size: 0
    transition: .25s ease
  .read-more-state
    &:checked ~ .read-more-wrap .read-more-target
      opacity: 1
      font-size: inherit
      // max-height: 999em
      padding-top: 0.25rem
    &:checked ~ .read-more-wrap
      padding: 0.25rem 0
    & ~ .read-more-wrap
      margin: 0
    &:checked ~ .read-more-trigger
      margin-top: 0.5rem
    & ~ .read-more-trigger
      color: $grey
      font-weight: 400
      border: 1px solid $grey
      padding: 0.5rem 0.8rem
      // display: block
    &:checked ~ .read-more-trigger:before
      content: 'Hide description'
    & ~ .read-more-trigger:before
      content: 'Show description'
    & ~ .read-more-trigger::after
      content: url("/images/caret.svg")
      width: 0.6875rem
      height: 0.375rem
      display: inline-block
      padding-left: 0.3875rem
    &:checked ~ .read-more-trigger::after
      transform: rotate(180deg)
      padding-right: 0.3875rem
      vertical-align: bottom

// button
//   -webkit-user-select: none
//   background: rgb(66, 133, 244)
//   border: 0
//   border-radius: $border-radius
//   box-sizing: border-box
//   color: #fff
//   cursor: pointer
//   float: right
//   font-size: .875em
//   margin: 0
//   padding: 10px 24px
//   transition: box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1)

//////////////////////////////////////////
//////////////////////////////////////////
//////////////////////////////////////////
footer
  display: block
  text-align: center
  background-color: $maroon
  color: $offwhite
  padding: 1.5rem 0.5rem
  h6
    text-align: center
    font-size: 0.75rem
    margin: 0 auto
    padding: 1rem 2rem
    a
      text-decoration: underline
  & :first-child
    margin-top: 4rem
  & :last-child
    margin-bottom: 1rem
    padding: 0
